@import "tailwindcss";

@layer base {
  body {
    background-color: #FFF8E1;
  }
}

@theme {
  --breakpoint-big: 1537px;
  --breakpoint-media1440: 1440px;
  --breakpoint-media1050: 1050px;
  --breakpoint-media720: 720px;
  --breakpoint-media550: 550px;
}